#quizBox, #nameBox {
    margin: 10 px;
    padding: 20px;
    width: 75%;
    text-align: center;
}

#header {
    font-size: 40px;
    padding: 20px;
    margin: 10px;
}

.quizContainer {
    padding: 5px;
    margin: 10px;
    background-color: cadetblue;
    border-radius: 25px;
    color: white;
}

.hide {
    display: none;
}

#name, #highScore {
    font-size: 24px;
    text-decoration: none;
    text-align: left;
}



.btn {
    margin: 10px;
    border-radius: 20px;
    background-color: darkgray;
    color: white;
    align-content: center;
    border: 1px solid white;
}

.scoreBox, #timeLeft {
    text-align: right;
}